body {
  margin: 0;
  padding: 0;
  background: rgb(155, 170, 32);
  background: linear-gradient(
    90deg,
    rgba(155, 170, 32, 1) 0%,
    rgba(0, 116, 36, 1) 43%,
    rgba(0, 255, 3, 1) 100%
  );
}

.App {
  color: white;
  text-align: center;
  margin: 50px auto 0;
  width: 90%;
  max-width: 700px;
  border-radius: 20px;
  height: 470px;
  padding: 20px 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.search-engine {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.search-engine input {
  width: 70%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid;
  padding: 2px 15px;
  font-size: 16px;
  outline: none;
  background-color: #ffffff;
  color: #555555;
}

.search-engine button {
  border-radius: 8px;
  border: none;
  font-size: 20px;
  outline: none;
  background-color: #000000;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
}

.city-name {
  margin-bottom: 10px;
}

.loading {
  font-size: 16px;
  font-weight: bolder;
  color: black;
}

.date {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.temp {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 22px;
  font-weight: 500;
  color: #000000b0;
  margin-top: 0;
  margin-bottom: 20px;
}

.weather-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.column {
  display: flex;
  align-items: center;
  line-height: 1px;
}
